@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
  }
  
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg,
        rgba(255, 255, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://images.unsplash.com/photo-1517512006864-7edc3b933137?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
#title{
    text-align: center;
    text-shadow: 1px 1px 10px 10px black;
}
p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.container{
    width: 60%;
    margin: 0 auto;

}

#survey-form{
    background-color: rgba(27, 27, 50, 0.8);
    max-width: 90%;
    border-radius: 5px;
    opacity: 0.9;
    display:flex;
    flex-direction: column;
    gap: 1em;
    padding: 50px;
    margin: 0 auto;
}

.user-input{
    padding: 15px;
    width: 100%;
    margin: 1em auto;
}
#dropdown,#second-dropdown{
    padding: 15px;
    width: 100%;
    color: rgb(60, 60, 60);
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    display: inline;
  }
  
  fieldset{
    border: none;
  }

  input[type="radio"]{
margin: 1px;
  }
  
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

#referrer{
    padding: 15px;
}

button{
    border:none;
}

#submit{
    display: block;
  width: 100%;
  padding: 0.75rem;
  background: rgba(125, 125, 225, 0.7);
  
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group p{
    text-align: left !important;
}

/* Mobile Screen */
@media screen and (max-width:480px){
    label{
       font-size: 3.5vmin; 
    }
  .container{
    width: 100vw;
  }
}
